.table {
  &.thead-light .v-data-table-header,
  .thead-light th {
    color: $gray-600 !important;
    background-color: $gray-100;
  }

  &.thead-light .v-data-table-header th {
    color: $gray-600 !important;
  }

  &.thead-dark .v-data-table-header,
  .thead-dark th {
    background-color: $table-bg-dark;
    color: $table-color-dark !important;
  }

  &.thead-dark .v-data-table-header th {
    color: $table-color-dark !important;
  }

  .sortable .v-icon {
    margin-left: $table-sortable-icon-ml;
  }

  &.thead-dark .sortable .v-icon {
    color: $table-color-dark !important;
  }

  &.thead-light .sortable .v-icon {
    color: $gray-600 !important;
  }

  thead th,
  &.v-data-table tr:not(:last-child) tbody td {
    border-bottom: 1px solid $gray-200 !important;
  }

  &.v-data-table .v-data-footer {
    border: none;
  }

  thead th {
    letter-spacing: $thead-th-ls;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: $thead-th-font-size !important;
    padding-top: $thead-th-p !important;
    padding-bottom: $thead-th-p !important;
  }

  &.v-data-table thead th:first-child {
    padding-left: $card-padding !important;
  }

  tbody tr:hover {
    background: transparent !important;
  }

  &.table-border-dark thead th {
    border-top: 1px solid $table-border-dark-color;
    border-bottom: 1px solid $table-border-dark-color !important;
  }

  &.table-border-dark tbody tr:not(:last-child) td {
    border-bottom: 1px solid $table-border-dark-color !important;
  }

  &.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba($gray-100, .3);
  }

   &.table-striped tbody tr:nth-of-type(odd) .v-list {
     background-color: transparent;
   }

  &.row-height-auto table>tbody>tr>td,
  &.row-height-auto table>thead>tr>td,
  &.row-height-auto table>tfoot>tr>td {
    height: auto;
  }
} 

