@each $name,$val in $headings-display-typo {
  .display-h-#{$name} {
    font-size: $val !important;
  }
}

.heading {
  font-size: $heading-font-size;
  letter-spacing: $heading-ls;
}

.heading-title {
  font-size: $heading-title-font-size;
  letter-spacing: $heading-ls;
}

.lead {
  font-size: $lead-font-size;
  line-height: $line-height-lg;
}

p {
  line-height: $line-height-lg;
}

.blockquote-footer {
  color: $gray-600;

  &:before {
    content: '\2014\00A0';
  }
}

.description {
  color: $gray-500;
}